/* PERSONAL WEBSITE
================================================================== */

:root {
  --dark: #232742;
  --light: #E8E6E3;
  --lighthalftone: #B8B8B8;
  --dropshadow: #704B2C;
  --highlight: #FFF1AD;
  --stickynotered: #ED9797 ;
  --darkred: #bd7676;
  --stickynotebloo: #AED8E7;
  --darkbloo: #7FB2C4;
  --stickynoteyellow: #FFF4BA;
  --darkyellow: #D4C190;
}


/* BASE STYLES
================================================================== */

* {
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}

body {
  background-image: url(assets/corkboard.jpg);
  background-size: 256px;
  background-repeat: repeat;
  color: var(--dark);
  margin: 0;
  padding: 0 0 0;
  font-family: 'Gotham','Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.3;
  display: block;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
    transition: 0.5s;

}

img {
  max-width: 100%;
  height: auto;
}

section{
  position: relative;
  width: 100vw;
  height: auto;
  /* max-height: 100vw; */
  padding-bottom: 10vw;
}

#portfolio-grid{
  margin-bottom: -100vw;
}


 .entranceinfo {
  position: relative;
  z-index: 11;
  color: var(--light);
  font-size: 1.5vw;
  transform: translate(10vw, -13vw);
  display: inline-block;
 }

 .reel {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: auto;
  box-shadow: 0px 10px 10px var(--dropshadow);
 }



::-webkit-scrollbar{
  width: 0;
}

.BusinessFront {
    max-width: 20vw;
    rotate: -5deg;
    transform: translate(19vw,-1vw);
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
}



.BusinessFront2 {
  max-width: 20vw;
  box-shadow: 0px 0px 10px 3px var(--dropshadow);
  border-radius: 3px;
  rotate: -5deg;
  transform: translateX(18vw);
  position: relative;
  z-index: 1;
  display: none;
}



.BioText {
  rotate: 2deg;
  display: inline-block;
  transform: translate(11vw, -8vw);
}


.paper{
  background: #E8E8E8;
  background-image: linear-gradient(to right, #E8E8E8 0% 10%, #EBC2C2 10% 11%, #E8E8E8 11%);
  background-size: 100%;
  box-shadow: 0px 0px 10px #704B2C;
  border-radius: 3px;
}

.pattern {
    background-image:repeating-linear-gradient(transparent 0px, transparent 29px, #9ABFC9 30px);
    padding: 2em 4em 2em 5em;
    max-width: 45vw;
    min-width: 40vw;
    transition: 0.5s;
  }


.SocialMediaNotes {
  display: inline-block;
  background-color: var(--stickynotered);
  padding: 1vw 0.5vw 1vw 1vw;
  font-size: 1.3vw;
  letter-spacing: 1vw;
  border-radius: 2px;
  box-shadow: 0px 0px 5px var(--dropshadow);
  background-image: repeating-linear-gradient(transparent 0px, transparent 20px, #bd7676 22px);
  rotate: -3deg;
  position: relative;
  z-index: 1;
  transform: translate(-10vw, -2.5vw);
  transition: 0.5s;
}






.portfoliopaper {rotate: -2deg;display: inline-block;transform: translate(23vw);margin-bottom: 3vw;position: sticky;top: 2vw;z-index: 1;}

.smolpattern{
    background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkbloo) 30px);
    padding: 0em 4em 0em 4em;
    background-color: var(--stickynotebloo);
    transition: 0.5s;
}



/* DESKTOP GRID
================================================================== */

.grid-container{
  display: grid;
  row-gap: 2vw;
  /* column-gap: 1vw; */
  grid-template-columns: repeat(3, 1fr);
  width: 75vw;
  transform: translate(18vw);
  overflow: visible;
  transition: 0.5s;
}


.grid-item{
  cursor: pointer;
  width: 22vw;
  height: 30vw;
  overflow: visible;
  rotate: -3deg;
}

.grid-container > div:nth-child(odd){
  rotate: 3deg;
}


/* Polaroid
================================================================== */


/*Polaroid 1 piece*/

.polaroid{
 width: 20vw;
 height: 20vw;
 margin: 1vw;
 overflow: hidden;
}



.polaroid-text{
  display: inline-block;
  /* align-content: center; */
  margin: 1vw 1.5vw 1.5vw 1.5vw;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;
}

.polaroidpichorizontal{
  height: 100%;
  width: auto;
  align-content: center;

}

.polaroidpicvertical{
  width: 100%;
  height: auto;
  align-content: center;

}

.polaroidborder{
  background-color: var(--light);
  display: grid;
  box-shadow: 0 0 10px var(--dropshadow);
  transition: 0.5s;
}

/* TYPOGRAPHY
================================================================== */

mark {
  background-color: var(--highlight);
  box-shadow: 0 0 0 0.2vw var(--highlight);
  transform: skewY(45deg) ;
}

em{
  font-size: 600;
}

h1 {
 text-transform: uppercase;
 padding: 0.5vw 0vw 0.5vw 0vw;

}

h2 {
  text-transform: uppercase;
  font-size: 2vw;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 2vw;
  margin: 0;
}

p {

}

a {
  color: white;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;

}


/*DARK MODE BABYYYYYY
==================================================================*/

.videobg{
  display: none;
  position: fixed;
  z-index: -100;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  min-width: 200%;
  height: 200vh;
  width: auto;
  object-fit: fill;
  transform: translateX(-50%)
}

#videobg .reel {
  max-width: none;
  width: auto;
}

.darkmode .videobg{
  display: inline;
}


.dark-mode-toggle {
  color: var(--light);
  background: transparent;
  display: inline;
  position: fixed;
  z-index: 3;
  cursor: pointer;
  width: 3vw;
  height: auto;
  left: 3vw;
  bottom: 3vw;
  border: none;
}


.darkmode {
  --dark: #0E1B1F;
  --light: #C7EAF5;
  --neon: #B0EDFF;
  --dropshadow: #5ACBEB;
  --border:#8FF2FF;
  --highlight: #19404C;
  --borderred: #F56565;
  --borderbloo: #80E4FA;
  --borderyellow: #FFEF99;
  background-image: none;
  color: var(--light);
  margin: 0;
  padding: 0 0 0;
  font-family: 'Gotham','Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.3;
  display: block;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  }

.darkmode a {
  color: var(--light);
  text-decoration: none;
}

.darkmode a:hover {
  text-decoration: underline;

}

.darkmode body{
  background-image: none;
  color: var(--light);
  margin: 0;
  padding: 0 0 0;
  font-family: 'Gotham','Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.3;
  display: block;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;

} 

.darkmode .rotateBtn{
  color: var(--border);
}

.darkmode mark {
  background-color: var(--highlight);
  box-shadow: 0 0 0 0.2vw var(--highlight);
  transform: skewY(45deg) ;
  color: var(--light);
  
}

 .darkmode .entranceinfo {
  color: var(--light);
  font-size: 1.5vw;
  transform: translate(10vw, -13vw);
}

.darkmode .BioText{
  transform: translate(12vw, -6vw);
  rotate: 0deg;
}

.darkmode .paper{background: var(--dark);background-size: 100%;box-shadow: 0px 0px 20px var(--dropshadow);border-radius: 3px;}

.darkmode .pattern {
    background-image: none;
    border: solid;
    border-width: .3vw;
    border-color: var(--border);
    padding: 2em 4em 2em 5em;
    max-width: 45vw;
    min-width: 40vw;
  }

  .darkmode .SocialMediaNotes {
  background-image: none;
  color: var(--light);
  display: inline-block;
  background-color: var(--dark);
  padding: 1vw 0vw 1vw 1vw;
  font-size: 1.3vw;
  letter-spacing: 1vw;
  border-radius: 2px;
  box-shadow: 0px 0px 5px var(--dropshadow);
  rotate: 0deg;
  position: relative;
  z-index: 1;
  transform: translate(-10vw, -2vw);
  border: solid;
  border-width: .15vw;
  border-color: var(--border);
}

.darkmode .portfoliopaper {

  rotate: 0deg;
  display: inline-block;
  transform: translate(23vw);
  margin-bottom: 3vw;
  position: sticky;
  top: 2vw;
  z-index: 1;
}

.darkmode .BusinessFront{
  display: none;
}

.darkmode .BusinessFront2 {
  max-width: 20vw;
  box-shadow: 0px 0px 10px 3px var(--dropshadow);
  border-radius: 3px;
  rotate: 0deg;
  transform: translate(20vw,-3vw);
  position: relative;
  z-index: 1;
  border: solid;
  border-width: .15vw;
  border-color: var(--border);
  display: inline-block;
}

.darkmode .smolpattern{
    background-image: none;
    outline: solid;
    outline-width: .3vw;
    outline-color: var(--border);
    padding: 0em 4em 0em 4em;
    background-color: var(--dark);
  }

  .darkmode .grid-container{
  display: grid;
  row-gap: 2vw;
  column-gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
  width: 75vw;
  transform: translate(18vw);
  overflow: visible;
}

.darkmode .grid-item{
  width: 22vw;
  height: 30vw;
  overflow: visible;
  rotate: 0deg;
}

.darkmode .grid-container > div:nth-child(odd){
  rotate: 0deg;
}


.darkmode .polaroidborder{
  background-color: var(--dark);
  display: grid;
  justify-content: center;
  box-shadow: 0 0 10px var(--dropshadow);
      border: solid;
    border-width: .3vw;
    border-color: var(--border);
}

.darkmode .polaroid-text{
  display: inline-block;
  align-content: center;
  margin: 1vw 1.5vw 1.5vw 1.5vw;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;

}

.darkmode .polaroid{
 width: 20vw;
 height: 20vw;
 margin: 1vw;
 overflow: hidden;
 border: solid;
 border-width: .15vw;
 border-color: var(--border);
 box-shadow: 0 0 5px var(--dropshadow);
}

.darkmode .project-header{
  background-color: var(--dark);
  background-image: none;
  border: solid;
  border-color: var(--border);
  border-width: .3vw;
  rotate: 0deg;

}

.darkmode .project-active-notes > div:nth-child(odd){
  rotate: 3deg;
}

.darkmode .project-active-notes > div:nth-child(even){
  rotate: -3deg;
}

.darkmode .project-active-notes > div:nth-child(1){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--stickynotebloo);
  background-color: var(--dark);
  background-image:none;
  border:solid;
  border-width: .3vw;
  border-color: var(--borderbloo);
  rotate: 0deg;
}

.darkmode .project-active-notes > div:nth-child(2){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--stickynotebloo);
  background-color: var(--dark);
  background-image:none;
  border:solid;
  border-width: .3vw;
  border-color: var(--borderbloo);
    rotate: 0deg;

}

.darkmode .project-active-notes > div:nth-child(3){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--stickynotered);
  background-color: var(--dark);
  background-image:none;
  border:solid;
  border-width: .3vw;
  border-color: var(--borderred);
    rotate: 0deg;

}

.darkmode .project-active-notes > div:nth-child(4){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--stickynotered);
  background-color: var(--dark);
  background-image:none;
  border:solid;
  border-width: .3vw;
  border-color: var(--borderred);
    rotate: 0deg;

}

.darkmode .project-active-notes > div:nth-child(5){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--stickynoteyellow);
  background-color: var(--dark);
  background-image:none;
  border:solid;
  border-width: .3vw;
  border-color: var(--borderyellow);
    rotate: 0deg;

}
.darkmode .project-image{
  border-color: var(--dark);
}

.darkmode .project-active-images > img:nth-child(odd){
  rotate: 0deg;
  margin: 0.25vw;
}

.darkmode .project-active-images > img:nth-child(even){
  rotate: 0deg;
  margin: 0.25vw;
}

.darkmode .project-video{
  border-color: var(--dark);
}

.darkmode .vert-menu > div:nth-child(odd){
  rotate: 0deg;
}

.darkmode .vert-menu > div:nth-child(even){
  rotate: 0deg;
}

/*Business Card Flip ------------------------------------------------------------------------------------------------------*/

  .card-rotate {
   box-shadow: 0px 0px 10px 3px var(--dropshadow);
  border-radius: 3px;
  transform: rotate(0deg);
  transition: transform 0.5s;
  transform-origin: center;
  }

  .card-rotate.rotate-active {
  transform: rotate(180deg);
  }

/*Button Styling ======================================================================================================*/

.rotateBtn{
    cursor: pointer;
    width: 10vw;
    border: none;
    display: inline-block;
    position: relative;
    background-color: transparent;
    transform: translate(5vw, 2vw) scale(1.4);
    rotate: -3deg;
}


/*Project Active Styles ===========================================*/

.vert-menu {
  display: grid;
  transition: 0.5s;
  justify-content: start;
  row-gap: 2vw;
  column-gap: 1vw;
  width: 30vw;
  transform: translate(18vw,0vw);
  padding: 1vw;
  overflow: scroll;
  margin: 0;
  align-items: start;
}

.vert-menu .grid-item{
  width: 11vw;
  height: auto;
}

.vert-menu .polaroid {
  width: 10vw;
  height: 10vw;
  margin: 0.5vw;
}

  .vert-menu .polaroid-text{
    font-size: 1vw;
    margin: 0.1vw 0.5vw 0.5vw 0.5vw;
  }

.vert-menu > div:nth-child(odd) {
  rotate: 3deg;
}

/*Project Header =====================================================================*/

.project-header{
  max-width: 40vw;
  display: inline-block;
  position: sticky;
  text-transform: uppercase;
  padding: 1vw 2vw 1vw 2vw;
  background-color: var(--stickynotebloo);
  background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkbloo) 30px);
  rotate: -1deg;
  top: 5vw;
  transform: translate(7vw, -1vw);
  box-shadow: 0px 0px 10px var(--dropshadow);
  z-index: 2;
  transition: 0.5s;
}


/*Project Sticky Note Format ===========================================================================*/

.project-active-notes {
  position: sticky;
  top: 5vw;
  transform: translate(-2vw, 4vw);
}

.project-active-notes > div:nth-child{
  display: block;
}

.project-active-notes > div:nth-child(odd){
  rotate: 3deg;
}

.project-active-notes > div:nth-child(even){
  rotate: -3deg;
}

.project-active-notes > div:nth-child(1){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--dropshadow);
  background-color: var(--stickynotebloo);
  background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkbloo) 30px);
}

.project-active-notes > div:nth-child(2){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--dropshadow);
  background-color: var(--stickynotebloo);
  background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkbloo) 30px);
}

.project-active-notes > div:nth-child(3){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--dropshadow);
  background-color: var(--stickynotered);
  background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkred) 30px);
}

.project-active-notes > div:nth-child(4){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--dropshadow);
  background-color: var(--stickynotered);
  background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkred) 30px);
}

.project-active-notes > div:nth-child(5){
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--dropshadow);
  background-color: var(--stickynoteyellow);
  background-image:repeating-linear-gradient(transparent 0px, transparent 29px, var(--darkbryellow) 30px);
}

.offscreen{
  transform: translate(100vw, 0vw);
}

/*Project Image Format =====================================================================*/

.project-image {
  max-height: 40vw;
  max-width: 40vw;
  background-color: var(--light);
  border: solid;
  border-width: 0.5vw;
  border-color: var(--lighthalftone);
  border-radius: 3px;
  box-shadow: 0px 0px 10px var(--dropshadow);
  transition: 0.5s;
}

.project-active-images{
  padding: 2vw;
  width: 59vw;
}

.project-active-images > img:nth-child(odd){
  right: 0vw;
  transform: translate(0vw, 2vw);
  rotate:-3deg;
}

.project-active-images > img:nth-child(even){
  transform: translate(0vw, 2vw) ;
  rotate:3deg;
}

.project-video {
  width: 55vw;
  background-color: var(--light);
  border: solid;
  border-width: 0.5vw;
  border-color: var(--lighthalftone);
  border-radius: 3px;
  box-shadow: 0px 0px 10px var(
  --dropshadow);
  rotate: -3deg;
  transform: translate(0vw, 2vw);
  }

/*project-active-1 ============================================================*/

.project-active-1{
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  width: 59vw;
  height: auto;
  transform: translate(37vw, -75vw);
  transition: 0.5s;
}

.project-inactive-1{
  position: absolute;
  width: 59vw;
  height: 84vw;
  transform: translate(150vw, -130vw);
}

.P1_SN1_active {
  padding: 2vw;
  transform: translate(-22vw,11vw);
  width: 22vw;
  transition: 0.5s;
}

.P1_SN1_inactive {
  padding: 2vw;
  transform: translate(0vw,11vw);
  width: 22vw;
  transition: 0.5s;
}


.P1_SN2_inactive {
  padding: 2vw;
  transform: translate(-2vw,12vw);
  width: 25vw;
  transition: 0.5s;
}


.P1_SN2_active {
  padding: 2vw;
  transform: translate(-24vw,12vw);
  width: 25vw;
  transition: 0.5s;
}

.p1s3inactive{
  padding: 2vw;
  transform: translate(0vw,17vw);
  width: 23vw;
  transition: 0.5s;
}

.p1s3active{
  padding: 2vw;
  transform: translate(-22vw,17vw);
  width: 23vw;
  transition: 0.5s;
}

/*Project 2 Active =================================================*/

.project-active-2 {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  width: 90vw;
  height: auto;
  transform: translate(37vw, -75vw);
  transition: 0.5s;
  padding: 2vw;
}

.project-inactive-2{
  position: absolute;
  width: 59vw;
  height: 84vw;
  transform: translate(150vw, -130vw);
}

.p2s1active {
  padding: 2vw;
  transform: translate(-22vw,12vw);
  width: 24vw;
  transition: 0.5s;
}

.p2s1inactive {
  padding: 2vw;
  transform: translate(0vw,12vw);
  width: 24vw;
  transition: 0.5s;
}


.p2s2inactive {
  padding: 2vw;
  transform: translate(-1vw,14vw);
  width: 34vw;
  transition: 0.5s;
}


.p2s2active {
  padding: 2vw;
  transform: translate(-28vw,14vw);
  width: 29vw;
  transition: 0.5s;
}

.p2s3inactive {
  padding: 2vw;
  transform: translate(0vw,18vw);
  width: 25vw;
  transition: 0.5s;
}

.p2s3active {
  padding: 2vw;
  transform: translate(-24vw,19vw);
  width: 25vw;
  transition: 0.5s;
}


.p2s4inactive {
  padding: 2vw;
  transform: translate(-2vw,20vw);
  width: 22vw;
  transition: 0.5s;
}

.p2s4active {
  padding: 2vw;
  transform: translate(-24vw,20vw);
  width: 22vw;
  transition: 0.5s;
}


.p2s5inactive {
  padding: 2vw;
  transform: translate(-1vw,23vw);
  width: 29vw;
  transition: 0.5s;
}

.p2s5active {
  padding: 2vw;
  transform: translate(-24vw,25vw);
  width: 29vw;
  transition: 0.5s;
}

/*Project 3 Active ============================================================*/

.project-inactive-3{
  position: absolute;
  width: 59vw;
  height: 84vw;
  transform: translate(150vw, -130vw);
  /* transition: 0.5s; */
}

.project-active-3 {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  width: 59vw;
  height: auto;
  transform: translate(37vw, -75vw);
  transition: 0.5s;
  padding: 2vw;
}

.p3s1active {
  padding: 2vw;
  transform: translate(-23vw,9vw);
  width: 25vw;
  transition: 0.5s;
}

.p3s1inactive {
  padding: 2vw;
  transform: translate(0vw,9vw);
  width: 25vw;
  transition: 0.5s;
}

.p3s2inactive {
  padding: 2vw;
  transform: translate(-1vw,10vw);
  width: 29vw;
  transition: 0.5s;
}

.p3s2active {
  padding: 2vw;
  transform: translate(-25vw,10vw);
  width: 26vw;
  transition: 0.5s;
}

.p3s3active {
  padding: 2vw;
  transform: translate(-23vw,15vw);
  width: 24vw;
  transition: 0.5s;
}

.p3s3inactive {
  padding: 2vw;
  transform: translate(0vw,13vw);
  width: 24vw;
  transition: 0.5s;
}

.p3s4active {
  padding: 2vw;
  transform: translate(-24vw,15vw);
  width: 25vw;
  transition: 0.5s;
}

.p3s4inactive {
  padding: 2vw;
  transform: translate(-2vw,15vw);
  width: 25vw;
  transition: 0.5s;
}

.p3s5inactive {
  padding: 2vw;
  transform: translate(-1vw,19vw);
  width: 25vw;
  transition: 0.5s;
}


.p3s5active {
  padding: 2vw;
  transform: translate(-22vw,20vw);
  width: 25vw;
  transition: 0.5s;
}

/*Project Active 4 =====================================================================*/

.project-inactive-4 {
  position: absolute;
  width: 59vw;
  height: 84vw;
  transform: translate(150vw, -130vw);
  /* transition: 0.5s; */
}

.project-active-4 {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  width: 59vw;
  height: auto;
  transform: translate(37vw, -75vw);
  transition: 0.5s;
  padding: 2vw;
}

/*Mobile size ===================================================================================================================*/

@media (max-width: 600px) {

  section {
    height: auto;
  }

  .dark-mode-toggle{
    min-width: 10vw;
  }

  body {
    font-size: 3vw;
  }

  .darkmode p {
    font-size: 3vw;
  }


  .darkmode  h2 {
    font-size: 5vw;
  }

  .darkmode h1{
    font-size: 4vw;
  }

  h2 {
    font-size: 5vw;
  }

  .darkmode  h3 {
    font-size: 4vw;
  }

   h3 {
    font-size: 4vw;
  }

  .BusinessFront{
    display: inline-block;
    max-width: 55vw;
    transform: translate(10vw);
    z-index: 3;
  }

  .darkmode .BusinessFront2{
    max-width: 55vw;
    transform: translate(12vw);
    z-index: 3;
  }


  .BioText{
        transform: translate(12vw, -8vw);
  }

  .darkmode .BioText{
    transform: translate(12vw, 1vw);
  }

  #bio {
    margin-bottom: 0vw;
  }

  .pattern{
    min-width: 80vw;
  }

  .darkmode .pattern{
    min-width: 80vw;
  }

  .portfoliopaper{
    top: 10vw;
    transform: translate(20vw);
  }  

  .rotateBtn{
    transform: translate(100vh);
  }

  .SocialMediaNotes{
  transform: translate(50vw, -8vw);
  font-size: 4vw;
  letter-spacing: 1.5vw;
  }

   .darkmode .SocialMediaNotes{
  transform: translate(47vw, -1vw);
  font-size: 4vw;
  letter-spacing: 1.5vw;
  }

  .grid-container{
    grid-template-columns: 1fr;
    row-gap: 35vw;
  }

  .darkmode .grid-container{
     grid-template-columns: 1fr;
    row-gap: 35vw;
  }

  .grid-item{
  width: 57vw;
  height: 49vw;
  }

  .darkmode .grid-item{
  width: 57vw;
  height: 49vw;
  }

  .polaroid-text{
    font-size: 5vw;
  }

   .darkmode .polaroid-text{
    font-size: 5vw;
  }

  .vert-menu .polaroid-text{
    font-size: 2vw;
  }

  .vert-menu{
    transform: translate(5vw,4vw);
    /* width: 59vw; */
  }
  
  .vert-menu .grid-item{
    width: 17vw;
    height: auto;
  }

  .polaroid{
    width: 55vw;
    height: auto;
  }  
    .darkmode .polaroid{
    width: 55vw;
    height: auto;
  } 

  .vert-menu .polaroid{
    width: 16vw;
    height: 16vw;
  }

  .project-header{
    max-width: 61vw;
    transform: translate(0vw, 0vw);
  }

  .project-active-1{
    transform: translate(26vw,-119vw);
  }

  .project-active-2{
    transform: translate(26vw,-119vw);
  }

  .project-active-3{
    transform: translate(26vw,-119vw);
  }

  .project-active-4{
    transform: translate(26vw,-119vw);
  }

  .project-active-images{
    width: 67vw;
  }

  .project-image{
    max-width: 62vw;
  }

  .P1_SN1_active {
    transform: translate(-45vw, 18vw);
  }

  .P1_SN1_inactive {
    transform: translate(0vw, 18vw);
  }

  .P1_SN2_active {
    transform: translate(-45vw, 22vw);
  }

  .P1_SN2_inactive {
    transform: translate(-2vw, 22vw);
  }

  .p1s3active{
    transform: translate(-45vw,27vw);
  }

  .p1s3inactive{
    transform: translate(0vw,27vw);
  }

  .project-active-notes > div:nth-child(odd){
    width: 49vw;
  }

  .project-active-notes > div:nth-child(even){
    width: 49vw;
  }

  .p2s1active{
  transform: translate(-45vw, 18vw);

  }

  .p2s1inactive{
    transform: translate(0vw, 18vw);

  }

    .p2s2active{
  transform: translate(-45vw, 18vw);

  }

  .p2s2inactive{
    transform: translate(0vw, 18vw);

  }

  .p2s3active{
  transform: translate(-45vw, 27vw);
  }

  .p2s3inactive{
    transform: translate(0vw, 27vw);
  }

  .p2s4active{
  transform: translate(-45vw, 28vw);
  }

  .p2s4inactive{
    transform: translate(0vw, 30vw);
  }

    .p2s5active{
  transform: translate(-45vw, 36vw);
  }

  .p2s5inactive{
    transform: translate(0vw, 36vw);
  }


  .project-active-notes{
    transform: translate(-2vw, 24vw);
  }


    .p3s1active{
  transform: translate(-45vw, 18vw);

  }

  .p3s1inactive{
    transform: translate(0vw, 18vw);

  }

    .p3s2active{
  transform: translate(-45vw, 18vw);

  }

  .p3s2inactive{
    transform: translate(0vw, 18vw);

  }

  .p3s3active{
  transform: translate(-45vw, 27vw);
  }

  .p3s3inactive{
    transform: translate(0vw, 27vw);
  }

  .p3s4active{
  transform: translate(-45vw, 28vw);
  }

  .p3s4inactive{
    transform: translate(0vw, 30vw);
  }

    .p3s5active{
  transform: translate(-45vw, 36vw);
  }

  .p3s5inactive{
    transform: translate(0vw, 36vw);
  }

  .project-video{
    rotate: 0deg;
  }
}
